body{
    align-items: center;
}

.button{
    display: flex;
    justify-content: center;
    
    
}

img{

}
button{
    margin: 50px;
    background-color: #B3E8E5;
    border-radius:10px ;
    transition: 50ms;
    
}

button:hover{
    width: 90px;
    background-color: #82DBD8
}